* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: rgb(14, 13, 13);
    color: white;
    max-width: 1080px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 23, 23);
    padding: 30px 20px;
    border-radius: 20px;
    border: 1px solid rgb(46, 46, 46);
}
